;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.2.0"]]

 :builds
 {:app {:output-dir "out/"
        :asset-path "."
        :target :browser
        :modules {:main {:init-fn reagent-calculator.main/render}}}}}
